.bio-pic {
	background:$black-medium;
	padding-bottom: 2rem;
}
.bio-pic-img {
	@include circle(340px);
    overflow: hidden;
    margin: 0 auto;
    border:15px solid $black-medium;
    position:relative;
    top:100px;

    img {
    	position: relative;
    	left: -40px;

    }
}

.about-intro {
	background:$white-medium;
	padding: 8em 0 6em 0;

	p {
		text-align: center;
		font-size: 3.25rem;
		color:$font-color-gray;
		width:16em;
		margin:0 auto;
	}
	@include break-at(860) {
		p {
			font-size: 2.5rem;
			width:80%;
		}
	}
	@include break-at(600) {
		p {
			font-size: 2rem;
			width:90%;
		}
	}
}
.about-me {
	background:$mb-turquoise;
	padding: 6rem 0 4rem 0;
	p {
		color:$font-color-white;
		margin-bottom:2.5em; 
	}
	h3 {
		color:$font-color-white;
		position:relative;
	}
	
	@include break-at(860) {
		p {
			font-size: 1rem;
		}
	}
}

.work-experience {
	color: $font-color-gray;
	background: $white-medium;
	padding:6rem 0;
	h3 {
		text-align: left;
	}
	li:first-child {
		@include span-columns(5);
		border-right:1px solid #dbdbdb;
	}
	li:last-child {
		@include span-columns(7);
	}
	.title {	
		font-weight: 600;
    	font-size: 1.45rem;
	}
	.company {
		color:$mb-red;
		text-transform: uppercase;
    	font-weight: normal;
    	font-size:1.25rem;
    	line-height: 34px;
    	
	}
	ul {
		padding:20px 0;
		border-bottom:1px solid #dbdbdb;
		&:last-child {
			border-bottom:none;
		}
	}
	a {
		color:$mb-turquoise;
	}
	@include break-at(600) {
		li:first-child, li:last-child {
			@include span-columns(12);
			border-right:none;
		}
	}
}