body {
    font-size: 100%;
    font-family: 'Hind', sans-serif;
    font-weight: $font-weight-normal;
    background:#ddd;
}

.page-wrapper {
    overflow:hidden;
}

.contain {
	@include outer-container();
	@include break-at(1180) {
		padding:0 24px;
	}
}

li {
    list-style-type: none;
}

a {
    color:inherit;;
}   


