body {
    font-size: 100%;
   	// font-family: 'Roboto Slab', serif;
   	font-family: 'Raleway', sans-serif;
    font-weight: normal;
    background:#ddd;

    @include break-at(800) {
    	font-size: 80%;
    }
}

.contain {
	@include outer-container();

	@include break-at(1180) {
		padding:0 24px;
	}
}

li {
	list-style-type:none;
}