main {
	h2,h3,h4 {
		font-weight: normal;
	}
	h3 {
		text-align:center;
		color:$font-color-gray;
		font-size: 1.725rem;
   		margin-bottom: 1.75em;
    	text-transform: uppercase;
    	font-weight: $font-weight-normal;
	}
	.description {
		text-align:center;
		margin-bottom:4rem;
		@include shift(2);
		@include span-columns(8);
		font-size:1.1rem;
		color:$font-color-gray;
		line-height:1.65em;
	}
	@include break-at(1060) {
		.description {
			@include shift(1);
			@include span-columns(10);
		}
	}
	@include break-at(680) {
		.description {
			@include shift(0);
			@include span-columns(12);
			font-size:.975rem;
		}
	}
}


.shadow img {
	border:1px solid #ccc;
	box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
.section-padding {
	padding:9rem 0;
}
.section-padding-perspective {
	padding: 8rem 0 4.5rem 0;
}
.screenshots {
	img {
		opacity:0;
		@include transition(.5s all ease-out);
		margin: 0 auto;
		text-align:center;
		display:block;
		border-radius:5px;
		&.animate {
			opacity:1;
			@include transform(translateX(0%));
		}
	}
	.img-first {
		@include transform(translateX(-30%));
	}
	.img-second {
		margin-top:7rem;
		@include transform(translateX(30%));
	}
} 

@include break-at(1140) {
	.screenshots img {
		width:100%;
	}
}

@include break-at(680) {
	.section-padding {
		padding:6rem 0;
	}
	.screenshots .img-second {
		margin-top:5rem;
	}
	.section-padding-perspective {
		padding:5rem 0 5.5rem 0;
	}
}
@include break-at(460) {
	.section-padding {
		padding:5rem 0;
	}
}


.imac-banner {
	@include shift(1);
	margin-top:-12rem;

	@include break-at(1000) {
		@include shift(0);
	}
	@include break-at(860) {
		margin-top:-5rem;
	}
	@include break-at(780) {
		img {
			width:100%;
		}
	}
	@include break-at(680) {
		margin-top:-2rem;
	}
}
.macbook-banner {
	img {
		@include shift(-.5);
		margin-top:-8rem;
		margin-bottom:6rem;
	}
	@include break-at(1268) {
		img {
			@include shift(0);
			width:100%;
		}
	}
	@include break-at(860) {
		img {
			margin-top:-5rem;
		}
	}
	@include break-at(680) {
		img {
			margin-top:-2rem;
			margin-bottom:4rem;
		}
		

	}
}
.imac-ipad-banner {
	@include shift(-.3);
	margin-top:-8rem;
	@include break-at(1251) {
		img {
			width:100%;
			@include shift(0);
		}
	}
	@include break-at(680) {
		margin-top:-2rem;

	}
}





