.lofi-hifi {
	background:$df-blue-light;
	h3 {
		color:$font-color-white;
		margin-bottom:4rem;
	}
	img {
		opacity:1;
	}
	.img-second {
		margin-top:-32%;
		padding-bottom:2rem;
	}
	.img-wrapper {
		&.animate {
			.img-first, .img-second {
				@include transform(translateX(0));
			}
		}
	}
	@include break-at(680) {
		.img-second {
			padding-bottom:0;
		}
	}
}

