/*** Mile High Classics ***/
$mhc-red:#b60d08;
$mhc-orange:#db6f1d;
$mhc-turquoise:#018178;
$mhc-turquoise-dark:#005852;
$mhc-black:#1f1f1f;
$mhc-black-medium: #383838;
$mhc-white:#e6e6e6;

/*** Hands4Building ***/
$h4b-blue:#0e84a0;
$h4b-blue-dark:#015367;
$h4b-orange:#e8a261;
$h4b-orange-medium:#bf7730;
$h4b-orange-light:#efb87a;
$h4b-black-medium: #474747;
$h4b-gray:#5d5d5d;

/*** Music Blocks ***/
$mb-turquoise:#45b29d;
$mb-turquoise-dark:#2c887a;
$mb-orange:#d27743;
$mb-red:#c35543;
$mb-yellow:#dabc48;
$mb-purple:#9071ed;

/*** David Fodel ***/
$df-blue-dark:#181e2e;
$df-blue-light:#46557b;
$df-blue-gray: #687696;
$df-gray: #9197a6;
$df-white: #e6e6e6;
$df-black-medium:#43464c;

$offwhite: #ededed;
$black-medium: $mhc-black-medium;
$white-medium: #f3f3f3;

$font-weight-normal:400;
$font-weight-medium:500;
$font-weight-heavy:700;
$font-color-gray:#797979;
$font-color-white:#ededed;
$font-color-navigation:#777;



