.video-banner {
	background:#111;
	height:820px;
	text-align:center;
    position:relative;
    overflow:hidden;

	h1 {
        font-size: 2.5rem;
        top:5em;
        width:16em;
        position:relative;
        z-index:1000;
        @extend .header-border;  
	}
    .overlay {
        position: absolute;
        width: 100%;
        height: 820px;
        z-index: 100;
        background: #000;
        top: 0;
        opacity: .2;
    }
    video {
        position: absolute;
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto;
    }

    @include break-at(1230) {
        height:720px;
        .overlay {
            height:720px;
        }
        h1 {
            font-size:2rem;
        }
    }
    @include break-at(680) {
         height:520px;
        .overlay {
            height:520px;
        }
        h1 {
            font-size:1.75rem;
            width:90%;
            top:4em;
        }
    }
    @include break-at(480) {
        h1 {
            font-size:1.5rem;
        }
        height:380px;
        .overlay {
            height:380px;
        }
    }
}



