<!DOCTYPE html>
<html>
    <head>
        {{ partial "header.html" . }}
    </head>
    <body>
     <div class="m-scene" id = "main">
        <header>
            {{ partial "navigation.html" . }}
        </header>
        <div class="m-aside scene_element scene_element--fadein">
            {{ partial "banner.html" . }}
        </div>
        <div class="m-right-panel m-page scene_element scene_element--fadeinright">
            <main class = "clearfix">
                <section class = "about-me">
                    <div class = "contain">
                        <p>
                            {{ .Params.info }}
                        </p>
                    </div>
                </section>
               	{{ partial "experience.html" . }}
            </main>
        </div>
      </div>
    </body>
</html>
