<!DOCTYPE html>
<html>
    <head>
        {{ partial "header.html" . }}
    </head>
    <body>
        <div class = "page-wrapper" >
            <div class="m-scene" id = "main">
                <header>
                    {{ partial "navigation.html" . }}
                </header>
                <div class="m-aside scene_element scene_element--fadein">                  
                       {{ partial "hero.html" . }}                   
                </div>
                <div class="m-right-panel m-page scene_element scene_element--fadeinright">
                    <main class = "clearfix">
                        {{ partial "project-grid.html" . }}   
                    </main>
                </div>
                {{ partial "footer.html" . }}
            </div>
        </div>
    </body>
</html>
